
/**
 * @file _wwg.css
 * @author giorno
 * @package Chassis
 *
 * Stylesheet for framework web widgets.
 */
 
/* Container of the widget */
td._wwg
{
	white-space:					nowrap;
	vertical-align:					top;
}

/* Style of widgets in POOL_FOOTER */
td._wwgFooter
{
	vertical-align:					bottom;
	padding-top:					16px;
}

 /* Top row - items like Main Page, Logout, etc. */
td._wwgMi,td._wwgMenu
{
	padding-top:					5px;
	padding-left:					16px;
	padding-right:					16px;
	height:							16px;
}
td._wwgMenu
{
 	padding-bottom:					12px;
}


/* Url <A> type MenuItem */
a._wwgMi,div._wwgMi
{
	color:							#ffffff;
	text-decoration:				none;
	cursor:							pointer;
	font-weight:					bold;
}
a._wwgMi:hover,div._wwgMi:hover,div._wwgMiIe
{
	text-decoration:				underline;
	color:							#ffffff;
}


/* Separator cell */
td._wwgSep
{
	padding-left:					8px;
	padding-right:					8px;
}
